Repository yogeehhegde/test-atlantis-1746531411-1: changes, and which Atlantis projects are due for each by the changed paths.
All: plateng-iac-597915711542-us-east-1, plateng-iac-873308678997-us-east-1

plateng-iac-597915711542-us-east-1:
  dir: ./teams/plateng-iac/597915711542/us-east-1
  workspace: plateng-iac-597915711542-us-east-1
  terraform_version: 1.12.2

plateng-iac-873308678997-us-east-1:
  dir: ./teams/plateng-iac/873308678997/us-east-1
  workspace: plateng-iac-873308678997-us-east-1
  terraform_version: 1.12.2

Add s3 resource:
  atlantis.yaml
  teams/plateng-iac/873308678997/us-east-1/provider.tf
  teams/plateng-iac/873308678997/us-east-1/s3_test.tf
  teams/plateng-iac/873308678997/us-east-1/workspace.yaml
Due: plateng-iac-873308678997-us-east-1

Delete teams directory
  teams/plateng-iac/597915711542/us-east-1/provider.tf
  teams/plateng-iac/597915711542/us-east-1/workspace.yaml
Due: plateng-iac-597915711542-us-east-1

Delete atlantis.yaml
  atlantis.yaml
Due: none

Add s3 resource:
  atlantis.yaml
  teams/plateng-iac/597915711542/us-east-1/provider.tf
  teams/plateng-iac/597915711542/us-east-1/s3_yhegde-test-btk.tf
  teams/plateng-iac/597915711542/us-east-1/workspace.yaml
Due: plateng-iac-597915711542-us-east-1

Update module
  modules/s3/main.tf
  modules/s3/variables.tf
Due: plateng-iac-597915711542-us-east-1, plateng-iac-873308678997-us-east-1

Add s3 resource:
  atlantis.yaml
  teams/plateng-iac/873308678997/us-east-1/provider.tf
  teams/plateng-iac/873308678997/us-east-1/s3_test-bkt.tf
  teams/plateng-iac/873308678997/us-east-1/workspace.yaml
Due: plateng-iac-873308678997-us-east-1

Path conditions:
  plateng-iac-597915711542-us-east-1: any of: teams/plateng-iac/597915711542/us-east-1/*.tf, teams/plateng-iac/597915711542/us-east-1/*.tfvars, modules/*/*.tf
  plateng-iac-873308678997-us-east-1: any of: teams/plateng-iac/873308678997/us-east-1/*.tf, teams/plateng-iac/873308678997/us-east-1/*.tfvars, modules/*/*.tf
